[Desktop Entry]
Type=Application
Name=Ion
GenericName=Web Browser
Comment=Browse the web
Keywords=web;browser;internet;
Exec=ion %U
Icon=dev.ion.Ion
Terminal=false
StartupNotify=true
StartupWMClass=dev.ion.Ion
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
